*{
  background-color: black;
}
.Hello{
display: flex;
background-color: black;
color:white;
flex-direction: left;
padding-left: 20px;
}
.fame{
  font-family: ' Glober';
  font: 80px;
  text-decoration-line: overline;
  text-decoration-color:white;
  text-decoration-style: solid ;
}
.Hello1{
  background-color: black;
color:white;
margin: auto;
text-align: center;
}
.img{
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  float: left;
}  
.world{
 float: right;
}
.edits{
  float: right;
}
.editos{
  font-family: 'Glober';
  font: 80px;
  text-decoration-line: overline;
  text-decoration-color:white;
  text-decoration-style: solid ;
  text-align: center;
  color: white;
}

.editi{
  font-family:'Glober';
  font: 80px;
  text-decoration-line: overline;
  text-decoration-color:white;
  text-decoration-style: solid ;
  text-align: center;
  background-color:black;
  color: white;
}
table,th,td{
  border:1px solid;
  color: white;
}
table {
  border-collapse: collapse;
  width: 75%;
}

/*th {
  height: 70px;
}
*/
.forum{
  align-items: center;
  color: white;
  background-color: black;
}
.whole{
 background-color: blue
 ;
}
.end{
  color: white;
  text-align: center;
}